// $Id$
// linker script for a MIOS project

LIBPATH .

CODEPAGE   NAME=vectors    START=0x2C00         END=0x2FFF         PROTECTED
CODEPAGE   NAME=page       START=0x3000         END=0x7FFF
CODEPAGE   NAME=idlocs     START=0x200000       END=0x200007       PROTECTED
CODEPAGE   NAME=config     START=0x300000       END=0x30000D       PROTECTED
CODEPAGE   NAME=devid      START=0x3FFFFE       END=0x3FFFFF       PROTECTED
CODEPAGE   NAME=eedata     START=0xF00000       END=0xF000FF       PROTECTED

DATABANK   NAME=miosvars   START=0x000          END=0x00f
ACCESSBANK NAME=accessram  START=0x010          END=0x07F
DATABANK   NAME=gpr0       START=0x080          END=0x0FF
DATABANK   NAME=gpr1       START=0x100          END=0x1FF
DATABANK   NAME=gpr2       START=0x200          END=0x2FF
DATABANK   NAME=stack      START=0x300          END=0x37F          PROTECTED
DATABANK   NAME=miosram_u  START=0x380          END=0x5FF	   PROTECTED

ACCESSBANK NAME=accesssfr  START=0xF80          END=0xFFF          PROTECTED

SECTION    NAME=CONFIG     ROM=config
