BODY     { background: #ffffff;
           font-family: "arial","geneva","helvetica";
           color: #000000;
           font-size: 10pt
         }

BODY.NAV { background: #000000;
           font-family: "arial","geneva","helvetica";
           color: #ffffff;
           font-size: 10pt
         }

H1       { text-align: center;
           font-size: 18pt;
           font-family: "arial","geneva","helvetica";
           color: #006688 
         }

H2       { text-align: left;
           font-size: 14pt;
           font-family: "arial","geneva","helvetica";
           color: #006699 
         }

H3       { text-align: center;
           font-size: 12pt;
           font-family: "arial","geneva","helvetica";
           color: #0066aa 
         }

H3.LEFT  { text-align: left;
           font-size: 12pt;
           font-family: "arial","geneva","helvetica";
           color: #0066aa 
         }

I        { color: #006666
         }

PRE      { font-family: courier;
           font-size: 10pt;
	   color: #000000;
           text-align: left
         }

A        { font-family: "arial","geneva","helvetica";
           font-size: 10pt;
           font-family: "arial","geneva","helvetica";
         }

A.BUTTON { font-family: "arial","geneva","helvetica";
           font-size: 10pt;
         }

DL       { color: #000000;
           font-family: "arial","geneva","helvetica";
           font-size: 12pt
         }

DD       { color: #000000;
           font-family: "arial","geneva","helvetica";
           font-size: 12pt
         }

P        { color: #002222;
           font-family: "arial","geneva","helvetica";
           font-size: 10pt
         }

P.MSG    { color: #000000;
           font-size: 4pt;
           text-align: center 
         }

P.INFO   { color: #002266;
           font-family: "arial","geneva","helvetica";
           font-size: 10pt
         }

P.DESC   { color: #002244;
           font-family: "arial","geneva","helvetica";
           font-size: 10pt
         }

P.SMALLDESC { color: #002244;
           font-family: "arial","geneva","helvetica";
           font-size: 8pt
         }

P.SMALLD2 { color: #002244;
           font-family: "arial","geneva","helvetica";
           font-size: 8pt
         }

P.AUTOR  { color: #FF3366;
           text-align: right
           font-family: "arial","geneva","helvetica";
           font-size: 12pt
         }

P.PLEASE { color: #000000;
           text-align: right;
           font-family: "arial","geneva","helvetica";
           font-size: 12pt
         }

LI	 { color: #002244;
           font-family: "arial","geneva","helvetica";
           font-size: 10pt
         }

UL.CL    { color: #002266;
           font-family: "arial","geneva","helvetica";
           font-size: 12pt
         }

UL.CLBIG { color: #000000;
           font-family: "arial","geneva","helvetica";
           font-size: 14pt
         }

CODE     { text-align: left;
           color: #000044;
           font-family: monospace;
           font-size: 7pt;
         }


TABLE.BOX 	{ font-family:"arial","geneva","helvetica";
		  font-style:normal;
		  font-size:10pt;
		  color:#000000;
		  background-color:#dddddd;
		}

TD		{ vertical-align:top;
		  text-align:left;
		  font-family:"arial","geneva","helvetica";
		  font-size:10pt;
		}

TD.TABCOLOR1 	{ vertical-align:top;
		  text-align:left;
		  font-family:"arial","geneva","helvetica";
		  font-style:normal;
		  font-size:10pt;
		  color:#000000;
		  background-color:#AFC6DB;
		}

TD.TABCOLOR2 	{ vertical-align:top;
		  text-align:left;
		  font-family:"arial","geneva","helvetica";
		  font-style:normal;
		  font-size:10pt;
		  color:#000000;
		  background-color:#dddddd;
		}

SPAN.BIG	{ color: #002266;
		  text-align:left;
		  font-family:"arial","geneva","helvetica";
		  font-weight:bold;
		  font-size:14pt;
		}
SPAN.MEDIUM	{ color: #002266;
		  text-align:left;
		  font-family:"arial","geneva","helvetica";
		  font-size:12pt;
		}
SPAN.NEWSDATE	{ color: #006666;
		}
SPAN.CYAN	{ color: #006666;
		}
SPAN.BLACK	{ color: #000000;
		}
SPAN.NORM	{ color: #002244;
		}

.NAV            { font-size: 11px; 
		  line-height: 14px; 
		  text-decoration: none;       
                }
